.o_obic_warehouse_move_form {
  .main-info-section {
    .o_form_label {
      min-width: 88px;
    }
  }
}

.obic_warehouse_move_container
{
  /* margin-top: 20px; */
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 12px;
}